@{
    ViewBag.Title = "Home Page";
}
<h3>We suggest the following:</h3>
We are currently tring to steal all the money in the world by setting up a banking database project. To give us all your money please use one of the following.
<ol class="round">
    <li class="one">
        <h5>Accounts</h5>
        <a href="http://localhost:1704/banks">Bank Accounts</a>
    </li>
    <li class="two">
        <h5>Accounts</h5>
        <a href="http://localhost:1704/accounts">Bank Accounts</a>
    </li>
	<li class="three">
        <h5>Transactions</h5>
        <a href="http://localhost:1704/transactions">Bank Accounts</a>
    </li>
	<li class="four">
        <h5>Payee</h5>
        <a href="http://localhost:1704/payee">Bank Accounts</a>
    </li>

</ol>
