@{
    ViewBag.Title = "Home Page";
}
<h3>We suggest the following:</h3>
We are currently tring to steal all the money in the world by setting up a banking database project.<br /> To give us all your money please use one of the following:
<ol class="round">
    <li class="one">
        <h5>
            <a href="http://localhost:1705/Banks">Banks</a><br /><br /><br />
        </h5>
    </li>
    <li class="two">
        <h5>
            <a href="http://localhost:1705/BankAccount">Accounts</a><br /><br /><br />
        </h5>
    </li>
	<li class="three">
        <h5>
            <a href="http://localhost:1705/Transaction">Transactions</a><br /><br /><br />
        </h5>
    </li>
	<li class="four">
        <h5>
            <a href="http://localhost:1705/Payee">Payee</a><br /><br /><br />
        </h5>
    </li>

</ol>
